:root {
    --background-image: linear-gradient(to bottom right, rgb(233, 233, 233), rgb(88, 167, 196)); /* Dark mode background color */
    --text-color: #000000;        /* Light mode text color */
    --h2-color: #333333;          /* Light mode h2 text color */
    --product-border: none;
    --product-background-color: none;       
    --searchText-color: #000000;
    --titletext-color: #000000;
  }
  
  .dark-mode {
    --background-image: linear-gradient(to bottom right, rgb(23, 23, 23), rgb(26, 78, 97)); /* Dark mode background color */
    --text-color: #ffffff;       /* Dark mode text color */
    --h2-color: #f1f1f1;         /* Dark mode h2 text color */
    --product-border: none; /* Dark mode product border */
    --product-background-color: rgba(0, 0, 0, 0.3);
    --searchText-color: #ffffff;
    --titletext-color: #ffffff;
  }


/* Reset some default styles */
html{
    margin: 0;
    padding: 0;
}

body {
    background-image: var(--background-image);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

.homepage{
    overflow: hidden;
}

/* Style the red banner above the navigation bar */
.disclaimer-banner {
    background-color: rgb(159, 0, 0); /* Red color */
    color: #ffffff; /* White text color */
    text-align: center;
    padding: 1px;
}


.header-wrapper {
    background-color: #198ac3; /* Same as header */
    position: sticky;
    top: 0;
    z-index: 2000;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.burger-menu {
    display: block; /* Show on both mobile and desktop */
    font-size: 30px; /* Increase the size for desktop */
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    color: #fff;
    margin-right: auto; /* Pushes everything else to the right */
}

.nav-links {
    background-color: #1a3a75; /* Lighter shade */
    width: 100%;
    position: relative; /* Relative to header-wrapper */
    max-height: 0;
    overflow-y: hidden;
    transition: max-height 0.3s ease-in-out;
}

.nav-links.open {
    max-height: 200px; /* Adjust this value based on your actual content height */
}

.nav-links ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    display: block; /* Change to block */
    margin: 10px 0; /* Add some vertical margin */
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px; /* Increase the size for desktop */
    padding: 10px; /* Add some padding */
}


.nav-links.show {
    display: block; /* Show when burger menu is clicked */
}

/* Media Query for Desktop */
@media (min-width: 768px) {
    .header {
        padding: 40px; /* Increase padding */
    }

    .burger-menu {
        font-size: 40px; /* Increase menu button size */
    }

    .nav-links li a {
        font-size: 24px; /* Increase nav link text size */
        padding: 15px; /* Increase padding */
    }

    .logoText{
        font-size: 30px;
        margin: 0;
        margin-right: 10px;
        color: white;
    }

}


.logo {
    color: #ffffff;
    display: flex;
    align-items: center;
    background-color: transparent;
}
.logoText{
    font-size: 20px;
    margin: 0;
    padding-right: 10px;
    color: white;
    font-weight: bold;
}

.logoText :hover{
    text-decoration: none;
    color: white;
}

.logo-button {
    background-color: transparent;  /* You can change this */
    border: none;
    color: #0a2052;  /* You can change this */
    padding: 5px 10px;
    margin-right: 5px;
    cursor: pointer;
}

.logo-button img {
    background-color: transparent;
    
}

/* For larger screens */
@media (min-width: 768px) {
    .logo-button {
        padding: 10px 20px;
    }
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.disclaimer-text{
    font-size: 18px;
    font-family: 'PT Sans', sans-serif;
}

nav li {
    display: flex;
    margin-right: 20px;
}

nav li a {
    color: #fff;
    text-decoration: none;
}
 /* Media query for smaller screens (e.g., mobile) */
 @media (max-width: 767px) {
    nav li a {
      font-size: 20px; /* Adjust font size for mobile screens */
    
    }
    .disclaimer-text{
        font-size: 12px;
        font-family: 'PT Sans', sans-serif;
    }
    .logoText{
        font-size: 15px;
        margin: 0;
        padding-right: 10px;
        color: white;
    }
    .categories-button {
        margin-top: 40px;
        display: block;
        margin: auto; /* Center the button horizontally */
        padding: 15px 20px;
        background-color: #198ac3; /* Blue color */
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    
 }
  /* Media query for smaller screens (e.g., mobile) */
  @media (max-width: 400px) {
    nav li a {
      font-size: 12px; /* Adjust font size for mobile screens */
    }
 }



nav li a:hover {
    text-decoration: none; /* Remove underline on hover */
    color: #000;
}

h1 {
    font-size: 45px;
    margin: 0; /* Remove default margin for h1 element */
    color: rgb(255, 255, 255);

}

.welcomeText{
    font-size: 35px;
    margin: 0; /* Remove default margin for h1 element */
    color: rgb(255, 255, 255);
    text-shadow: 4px 4px 4px black;
    
}
h2{
    color: black;
    font-size: 25px;
    text-decoration: none;
    margin: 5px 0; /* Decrease the margin between h3 and the rest of the content */
}

h3{
    font-size: 25px;
    text-decoration: none;
    margin: 5px 0; /* Decrease the margin between h3 and the rest of the content */
    color: #ed2525; /* Blue color for the price */
    border-top: 1px solid #ccc;
    padding-top: 5px;
}

h4{
    text-align: center;
    font-size: 30px;
    text-decoration: none;
    color: #000;
    margin: 5px 0;
    font-family: 'PT Sans', sans-serif;
}
h5{
    text-align: center;
    font-size: 25px;
    color: #000; 
    margin: 5px 0;
    font-family: 'PT Sans', sans-serif;
}

p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: center;
}

.supportLink{
    text-align: center;
    font-size: 55px;
    margin: 5px 0;
    font-family: 'PT Sans', sans-serif;
    text-decoration: underline;
}

.qrcode{
    width: 300px;
    height: auto;
}

a:link {
    text-decoration: none;
    font-family: 'PT Sans', sans-serif;
}

/* Style individual product div for both mobile and desktop */
.product {
    width: calc(100% - 20px); /* Set a maximum width for each product div - minus 20px for spacing */
    max-width: 340px; /* Limit the maximum width of each product */
    height: 300px; /* Set a fixed height for each product div */
    margin: 10px; /* Add spacing around the products */
    padding: 5px;
    border: var(--product-border);
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Add a small shadow to the product boxes */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--product-background-color);
    transition: 0.5s;
}

/* Style the product images container */
.product-images {
    display: flex;
    justify-content: space-around; /* Decrease the space between images */
    max-width: 100%;

}

/* Style the product images */
.product-images img {
    width: 140px;
    height: auto;
    object-fit: contain;
    border-radius: 10px;
    margin: 5px; /* Add some margin to separate the images */
}

/* Add a hover effect on the product boxes */
.product:hover {
    transform: translateY(-10px); /* Move the box up slightly on hover */
    box-shadow: 0px 10px 15px rgba(33, 33, 33, 0.448); /* Add a subtle shadow on hover */
    border-radius: 1px;
}

.product h2 {
    color: var(--h2-color);
    margin-top: 10px;
    margin-bottom: 0; /* Remove bottom margin for h2 element to reduce white space below prices */
    text-decoration: none; /* Remove underline from h2 element */
}

.product p {
    margin-top: 5px;
    margin-bottom: 10px; /* Add margin at the bottom of the p element to create space between price and description */
    color: #000; /* Set the product text color to black */
    text-decoration: none; /* Remove underline from p element */
}

/* Style the content container */
.content-container {
    max-width: 1000px;
    margin: 0 auto; /* Center the container horizontally */
    display: flex;
    flex-wrap: wrap; /* Allow the images to wrap when the container width is smaller */
    justify-content: space-between; /* Create spacing between images */
    
}

/* Style the product section */
.product-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1550px; /* Set a maximum width for the product section */
    margin: 0 auto; /* Center the product section horizontally */
    padding: 10px; /* Add some spacing around the products */
    
}

/* Style the search bar and button */
.search-form {
    background-color: gray;
    border-radius: 25px;
    position: relative;
}

.search-center{
    margin-top: 20px;
    margin-bottom: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.searchText{
    margin-top: -25px;
    margin-bottom: 0px;
    font-size: 30px;
    color: var(--searchText-color);
    padding: 15px;
}

/* Increase the size of the search input */
.search-form input {

    width: 80%; /* Set a fixed width for the input field */
    height: 100%;
    display: block;
    border-radius: 25px;
    font-size: 20px;
    border: none;
    box-shadow: 0 5px 8px 3px rgb(32, 32, 32);
    padding: 8px 40px 8px 20px; /* Adjust the padding to make it bigger */
}

.search-form input:focus {
    outline: none;
}

/* Styles for the search button */
#searchButton {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    background-color: #ffffff;
    font-size: 18px;
}

#searchButton i{
    color: rgb(93, 94, 95);
}

#searchButton:hover{
    color: rgb(162, 163, 163);
}

.search-container{
    width: 50%;
    min-width: 250px;
    max-width: 300px;
    height: 180px;
    text-align: center;
    margin-bottom: -70px;
}

.product-list li {
    margin: 5px 0;
}

/* Style the categories button */
.categories-button {
    display: block;
    margin: auto; /* Center the button horizontally */
    padding: 15px 20px;
    background-color: #198ac3; /* Blue color */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.categories-button:hover {
    background-color: #135576; /* Darker blue color on hover */
    transition:all 0.3s ease-in-out;
}

/* Style the dropdown content */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    border: 1px solid #ddd;
    border-radius: 5px;
    z-index: 1;
    left: 50%; /* Center the dropdown menu horizontally */
    transform: translateX(-50%); /* Center the dropdown menu relative to its parent */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Add drop shadow to the dropdown content */
}

/* Style the dropdown links */
.dropdown-content a {
    color: #333;
    padding: 16px 18px;
    text-decoration: none;
    display: block;
}

/* Style the dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1;
}

/* Show the dropdown content when the button is clicked */
.show {
    display: block;
}

/* Style the active category link */
.dropdown-content a.active {
    background-color: #198ac3; /* Blue color */
    border: none;
    color: #fff;
    position: relative; /* Add relative positioning to the active link */
  }
  
  /* Create a pseudo-element to fill the entire area */
  .dropdown-content a.active::before {
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    z-index: -1;
    background-color: #007bff; /* Blue color */
    border-radius: 5px; /* Adjust this value as needed */
  }

/* Style the main text container */
.parallax-text {
    text-align: center; /* Center the content horizontally */
    padding-top: 200px; /* Add top padding to position the text */
    padding-bottom: 50px; /* Add bottom padding for spacing */
}

.parallax-text2 {
    text-align: center; /* Center the content horizontally */
    padding-top: 20px; /* Add top padding to position the text */
    padding-bottom: 20px; /* Add bottom padding for spacing */
    color: #000;
}

/* Style the green button */
.green-button {
    display: inline-block;  
    padding: 15px 20px;
    background-color: #6496cb;
    border: 4px solid #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 30px;
    transition: 0.3s ease-in-out;
}

.green-button:hover {
    background-color: #007bff;
    box-shadow: 0 0 20px rgba(0, 123, 255, 0.7);
}

/* Style the parallax container */
.parallax-container {
    overflow-x: hidden; /* Hide horizontal overflow */
    position: relative; /* Set position relative for absolute positioning */
    height: 100vh; /* Set the height to fill the viewport */
}

/* Style the parallax images */
.parallax-image {
    position: relative;
    height: 100%;
}

.parallax-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio and fill the container without stretching */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; /* Move the images to the background */
}

/* Add padding to footer */
footer {
    padding: 20px;
}

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

header {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: center;
    margin-bottom: 0px;
}

.description {
    font-size: 18px;
    text-align: center;
}

.content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.support-section {
    text-align: center;
    margin-top: 30px;
}

.support-link {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

.follow-link {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 15px 25px;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 10px;
}
.qr-code-container {
    margin-top: 20px;
}

.darkmodediv {
    display: flex;
    text-align: center;
    margin: 2px;
    margin-bottom: 0px;
    align-items: center;
    justify-content: center;
}

/* Style for the Toggle Dark Mode button */
#darkModeButton {
    margin-top: 10px; /* Add some top margin for spacing */
    margin-bottom: -5px;
    padding: 8px 10px;
    font-size: 16px;
    background-color: #2e2e2e;
    color: #fff;
    border: none;
    cursor: pointer;
    display: inline-block;
    border-radius: 5px;
    cursor: pointer;
    /* Add any other styles you want for the button */
  }
  
  #darkModeButton:hover {
    background-color: #4d4d4d;
    color: #ffffff;
    box-shadow: 0px 5px 5px rgba(205, 205, 205, 0.391); /* Add a subtle shadow on hover */
  }
  
  /* Style for the button when in Dark Mode */
  .dark-mode #darkModeButton {
    background-color: #0a2052;;
    color: #ffffff;
  }
  
  .dark-mode #darkModeButton:hover {
    background-color: #ffffff;
    color: #000000;
  }

    /* Define the box shadow for the product boxes in dark mode when hovering */
    .dark-mode .product:hover {
        transform: translateY(-10px); /* Move the box up slightly on hover */
        box-shadow: 0px 10px 15px rgba(255, 255, 255, 0.448); /* Add a subtle shadow on hover */
        border-radius: 1px;
    }
  
  /* Define other styles for the product boxes in dark mode */
  .dark-mode .product {
    /* Add your product box styles here */
    background-color: var(--product-background-color); /* Use the dark mode product background color */
    border: var(--product-border); /* Use the dark mode product border */
    color: var(--text-color); /* Use the dark mode text color */
    transition: 0.5s;
    
  }

  .titletext {
    text-align: center;
    color: var(--titletext-color);
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.footer {
    background-color: #198ac3;  /* You can change this color */
    color: #ffffff;  /* Text color */
    text-align: center;
    padding: 15px;
    padding-left: 10%;
    padding-right: 10%;
    position: relative;
    bottom: 0;
    width: 80%;
  }
  select {
    width: 70px;
    padding: 5px;
    border: 0px transparent;
    border-radius: 10px;
    background-color: #f9f9f9;
    font-size: 16px;
    color: #020202;
  }
  .currency-selector {
    margin-left: 10px; /* Adjust as needed */
    margin-right: auto; /* Pushes it to the left, right after the burger menu */
  }

  .left-container, .right-container {
    display: flex;
    align-items: center;
}

.left-container select {
    margin-left: 10px; /* Adds some space between the burger menu and the currency selector */
}

.right-container button {
    margin-right: 10px; /* Adds some space between the dark mode button and the link */
}